body {
  background-color: #eeeeee;
}
.container-body {
  height: 95vh;
}

* {
  box-sizing: border-box;
}
.topo {
  background-color: #cf2b2b;
  height: 10vh;
  width: 100%;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.263);
  position: fixed;
  top: 0;
  left: 0;
}
.corpo-site {
  margin-top: 13vh;
}

.titulo {
  color: #ffffff;
  font-size: 100px;
  font-family: "Righteous", "Roboto";
  margin-left: 5%;
  margin-top: 30px;
  position: fixed;
}

.subtitulo {
  color: #ffffff;
  font-size: 40px;
  font-family: "Roboto", "Righteous";
  font-weight: 400;
  margin-left: 5%;
  margin-top: 13%;
  position: fixed;
}

.categorias {
  color: black;
  font-family: "Righteous", "Roboto";
  font-size: 60px;
  margin-left: 5%;
}

.caixa {
  background-color: white;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.179);
  margin-left: 5%;
  border: 8px solid white;
  border-radius: 20px;
  margin-top: 2vh;
  width: 40vw;
  height: 20vh;
}

.img1 {
  width: 30vw;
  height: 8vh;
  border-radius: 10px;
}

.nome-prato {
  font-family: "Roboto", "Righteous";
  font-size: 34px;
  font-weight: bold;
  margin-left: 33px;
  padding-top: 1vh;
}

.texto-prato {
  font-family: "Roboto", "Righteous";
  color: #a6a6a6;
  font-size: 29px;
  font-weight: 300;
  width: 80%;
  padding-top: 1vh;
  margin-left: 33px;
}

.valor-prato {
  font-family: "Roboto", "Righteous";
  padding: 9%;
  font-size: 34px;
  font-weight: 500;
}

.valor {
  font-family: "Roboto", "Righteous";
  font-size: 34px;
  font-weight: 500;
  margin-top: 1vh;
  margin-left: 3vw;
}

.foto {
  justify-content: center;
  display: flex;
  padding-top: 1vh;
  width: 35vw;
}

.menu-prato,
.menu-bebida,
.menu-sobremesa {
  display: flex;
  overflow-x: scroll;
  height: 25vh;
}

.rodape,
.rodape-final {
  background-color: #ffffff;
  height: 11vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  align-items: center;
}

.container,
button {
  width: 78vw;
  height: 6vh;
  background-color: #cbcbcb;
  border-radius: 60px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 1px #cbcbcb;
}

.mensagem-pedido,
.mensagem-final {
  font-size: 44px;
  color: #ffffff;
  font-family: "Roboto", "Righteous";
  width: 100%;
  text-align: center;
}

.selecionado {
  border: 8px solid #32b72f;
  border-radius: 20px;
  margin-left: 5%;
  margin-top: 2vh;
  width: 40vw;
  height: 20vh;
}

.container-pedido {
  width: 78vw;
  height: 6vh;
  background-color: #32b72f;
  border-radius: 60px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.escondido {
  display: none;
}
